*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

button{
    padding: 10px 20px;
    font-weight: 600;
    background-color: crimson;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    z-index: 10;
    color: white;
}

button:active{
    scale: 0.95;
}