*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: rgb(38, 229, 38);
    font-family: monospace;
    font-size: 3rem;
}