* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(244, 244, 244);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #1d1d1d;
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  @include flex-column(0rem);

  section.view1 {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: #292929;
      padding: 1.5rem;
      @include flex-column(3rem);
      border-radius: 10px;

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }

        button {
          width: fit-content;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }

  section.view2 {
    @include flex-column(1rem);
    width: 100%;
    padding: 1rem;

    .top,
    .bottom {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .element {
        text-align: center;
        @include flex-column(1rem);
        h2 {
          font-size: 3rem;
          font-weight: 300;
        }
      }
    }
  }

  section.view3 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);

    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }
    .bottom {
      background-color: #292929;
      border-radius: 0.7rem;
      padding: 1rem;

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }

        button {
          width: fit-content;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }

    .bottom > p {
      text-transform: uppercase;
    }
  }
  section.view4 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);

    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }
    .bottom {
      background-color: #292929;
      border-radius: 0.7rem;
      padding: 1rem;

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }

        button {
          width: fit-content;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
  section.view5{
    .heading h1{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-weight: 200;
        font-size: 3rem;
        padding: 1.5rem;
        }
  }
  section.view6 {
    @include flex-column(2rem);
    width: 100%;
    padding: 1rem;

    .card {
      width: 100%;
      background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp");
      aspect-ratio: 1/1;
      background-size: cover;
      object-fit: cover;
      border-radius: 0.7rem;

      @include flex-column(1rem);
      justify-content: space-between;
      padding: 1rem;

      .icon,
      .bottom {
        background-color: rgb(187, 187, 187, 0.375);
        backdrop-filter: blur(5px);
        border: 1px solid white;
        border-radius: 0.7rem;
        padding: 0.7rem;
      }

      .top {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
      }

      .icon {
        width: fit-content;
        border-radius: 50%;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1rem;
      }
    }
    .card1 {
      width: 100%;
      background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02-p-1080.webp");
      aspect-ratio: 1/1;
      background-size: cover;
      object-fit: cover;
      border-radius: 0.7rem;

      @include flex-column(1rem);
      justify-content: space-between;
      padding: 1rem;

      .icon,
      .bottom {
        background-color: rgb(187, 187, 187, 0.375);
        backdrop-filter: blur(5px);
        border: 1px solid white;
        border-radius: 0.7rem;
        padding: 0.7rem;
      }

      .top {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
      }

      .icon {
        width: fit-content;
        border-radius: 50%;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1rem;
      }
    }
    .card2 {
      width: 100%;
      background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03-p-1080.webp");
      aspect-ratio: 1/1;
      background-size: cover;
      object-fit: cover;
      border-radius: 0.7rem;

      @include flex-column(1rem);
      justify-content: space-between;
      padding: 1rem;

      .icon,
      .bottom {
        background-color: rgb(187, 187, 187, 0.375);
        backdrop-filter: blur(5px);
        border: 1px solid white;
        border-radius: 0.7rem;
        padding: 0.7rem;
      }

      .top {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
      }

      .icon {
        width: fit-content;
        border-radius: 50%;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1rem;
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    section.view1 {
      flex-direction: row;
      padding: 1rem 4rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 3.5rem;
          }

          p {
            width: 60%;
            font-size: 1rem;
          }
        }
      }
    }

    section.view2 {
      display: flex;
      flex-direction: row;
      padding: 1rem 8rem;
    }

    section.view3 {
      flex-direction: row-reverse;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem;

        .paragraphs {
          display: flex;
          gap: 2rem;

          p {
            font-size: 1rem;
          }
        }
      }
    }
    section.view4 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem;

        .paragraphs {
          display: flex;
          gap: 2rem;

          p {
            font-size: 1rem;
          }
        }
      }
    }
    section.view5{
        .heading h1{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        font-weight: 200;
        font-size: 3rem;
        padding: 2rem;
        }
      }
    section.view6 {
      flex-direction: row;

      
    }
  }
}
