*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main{
  background-color:  rgb(6, 48, 104);
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 20px;
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#box1{
  height: 275px;
  width: 200px;
  background-color: rgb(17, 104, 104);
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#box1 img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
}
#box1 h2{
  font-weight: 600;
  font-size: 30px;
}
#box1 p{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
#box1 button{
  color: white;
  background-color: rgb(32, 55, 55);
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
}
#box1 button:hover{
  color: rgb(32, 55, 55);
  background-color: white;
  border:2px solid black;
  cursor: pointer;
}
#box2{
  height: 275px;
  width: 200px;
  background-color: rgb(17, 104, 104);
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#box2 img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
}
#box2 h2{
  font-weight: 600;
  font-size: 30px;
}
#box2 p{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
#box2 button{
  color: white;
  background-color: rgb(32, 55, 55);
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
}
#box2 button:hover{
  color: rgb(32, 55, 55);
  background-color: white;
  border:2px solid black;
  cursor: pointer;
}
#box3{
  height: 275px;
  width: 200px;
  background-color: rgb(17, 104, 104);
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#box3 img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
}
#box3 h2{
  font-weight: 600;
  font-size: 30px;
}
#box3 p{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
#box3 button{
  color: white;
  background-color: rgb(32, 55, 55);
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
}
#box3 button:hover{
  color: rgb(32, 55, 55);
  background-color: white;
  border:2px solid black;
  cursor: pointer;
}
#box4{
  height: 275px;
  width: 200px;
  background-color: rgb(17, 104, 104);
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#box4 img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
}
#box4 h2{
  font-weight: 600;
  font-size: 30px;
}
#box4 p{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
#box4 button{
  color: white;
  background-color: rgb(32, 55, 55);
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
}
#box4 button:hover{
  color: rgb(32, 55, 55);
  background-color: white;
  border:2px solid black;
  cursor: pointer;
}
#box5{
  height: 275px;
  width: 200px;
  background-color: rgb(17, 104, 104);
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#box5 img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
}
#box5 h2{
  font-weight: 600;
  font-size: 30px;
}
#box5 p{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
#box5 button{
  color: white;
  background-color: rgb(32, 55, 55);
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
}
#box5 button:hover{
  color: rgb(32, 55, 55);
  background-color: white;
  border:2px solid black;
  cursor: pointer;
}
#box6{
  height: 275px;
  width: 200px;
  background-color: rgb(17, 104, 104);
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#box6 img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
}
#box6 h2{
  font-weight: 600;
  font-size: 30px;
}
#box6 p{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
#box6 button{
  color: white;
  background-color: rgb(32, 55, 55);
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
}
#box6 button:hover{
  color: rgb(32, 55, 55);
  background-color: white;
  border:2px solid black;
  cursor: pointer;
}
#box7{
  height: 275px;
  width: 200px;
  background-color: rgb(17, 104, 104);
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#box7 img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
}
#box7 h2{
  font-weight: 600;
  font-size: 30px;
}
#box7 p{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
#box7 button{
  color: white;
  background-color: rgb(32, 55, 55);
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
}
#box7 button:hover{
  color: rgb(32, 55, 55);
  background-color: white;
  border:2px solid black;
  cursor: pointer;
}
#box8{
  height: 275px;
  width: 200px;
  background-color: rgb(17, 104, 104);
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#box8 img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
}
#box8 h2{
  font-weight: 600;
  font-size: 30px;
}
#box8 p{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
#box8 button{
  color: white;
  background-color: rgb(32, 55, 55);
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
}
#box8 button:hover{
  color: rgb(32, 55, 55);
  background-color: white;
  border:2px solid black;
  cursor: pointer;
}