*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

h1{
    color: rgb(49, 176, 26);
    font-size: 50px;
    font-weight: 900;
}