* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mona Sans", sans-serif;
  color: #060318;
}

html,
body {
  height: 100%;
  width: 100%;
}
.nav-tab {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
}

#left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

#left-nav h2 {
  font-family: "Pacifico", cursive;
  transform: rotate(-5deg);
  font-weight: 200;
  font-size: 24px;
  cursor: pointer;
}

#left-nav h2:hover {
  color: #060318ad;
}

#left-nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}

#left-nav a:hover {
  color: #060318ad;
}

#link {
  display: flex;
  gap: 20px;
}

#right-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

#right-nav button {
  font-weight: 600;
  font-size: 14px;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  border-radius: 60px;
}

#sign-up button {
  background-color: white;
}

#sign-up button:hover {
  color: #060318ad;
}

#log-in button {
  background-color: #060318;
  color: white;
}

#log-in button:hover {
  background-color: #34314c;
}

.view2 {
  display: flex;
}

.left-view2 {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 72px;
}

.heading-view2 h1 {
  font-size: 48px;
  width: 480px;
  text-align: left;
  font-weight: 600;
  font-family: "Mona Sans", sans-serif;
  line-height: 1.02;
}

.heading-view2 p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 350;
  width: 480px;
  font-family: "Mona Sans", sans-serif;
  line-height: 1.5;
}

.view2-button {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.view2-button button {
  padding: 14px 24px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

#but button {
  background-color: #060318d3;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

#but i {
  background-color: #060318d3;
  color: white;
}

#but2 button,
#but3 button {
  background-color: white;
}

#but2 button:hover,
#but3 button:hover {
  background-color: #f0f0f0d6;
}

.right-vid video {
  /* position: relative; */
  width: 530px;
  height: 450px;
  border-radius: 30px;
  object-fit: cover;
  margin-right: 23px;
}

.search-box {
  font-size: 14px;
  border: 3px solid transparent;
  border-radius: 50px;
  margin-top: 20px;
  display: flex;
  background-color: #f3f3f6;
  gap: 0;
}

.search-box:hover {
  border-color: #ea4c8940;
  background-color: white;
}

.search-text {
  margin-left: 20px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  color: #3a3546;
  font-size: 14px;
  font-weight: 300;
}

.search-icon {
  height: 50px;
  width: 50px;
  background-color: #ea4c89;
  border-radius: 50%;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon i {
  color: #ffffff;
  font-size: 20px;
}

.search-box:hover .search-icon {
  background-color: #ea4c89c6;
  cursor: pointer;
}

.bot-button {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
  align-items: center;
  width: 100%;
}

.bot-button button {
  padding: 8px 16px;
  font-size: 12px;
  color: #060318;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1.5px solid #f3f3f6;
  cursor: pointer;
}

.bot-button button:hover {
  background-color: #f0f0f0b9;
}

.banner {
  margin-top: 30px;
  margin-left: 72px;
  border-radius: 20px;
  background-color: #f0f2f7;
  width: 90%;
  padding: 25px 30px;
}

.banner-main {
  background-color: white;
  color: #060318;
  padding: 14px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  position: relative;
}

.banner-new {
  background-color: #ea4c89;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 12px;
  font-weight: 600;
  position: absolute;
  margin-top: -13px;
  left: 245px;
}

.banner-text {
  font-size: 14px;
  margin-left: 3%;
}

.banner-main i {
  color: #664cea;
}

.filters-bar {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-top: 40px;
  width: 95%;
  justify-content: space-between;
  font-size: 14px;
}

.filter-opt {
  display: flex;
  margin-left: 72px;
  align-items: center;
  gap: 45px;
}

#pop {
  border: #06031895 solid 1.2px;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 10px;
}

#flt {
  font-weight: 600;
}

#flt:hover {
  cursor: pointer;
  color: #060318ad;
}

#pop:hover {
  cursor: pointer;
  color: #060318ad;
}

.filter {
  border: #06031895 solid 1.2px;
  padding: 8px 16px;
  border-radius: 20px;
}

.filter:hover {
  cursor: pointer;
  color: #060318ad;
}

.discover {
  background-color: #0603180f;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 600;
}

.discover:hover {
  cursor: pointer;
  background-color: #0603181f;
}

.videoss {
  margin-top: 40px;
  cursor: pointer;
  /* margin-left: 72px; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.videoss .vid1 {
  position: relative;
  width: 335px;
  height: 251px;
  overflow: hidden;
  border-radius: 16px;
}

.videoss .vid1 img,
.videoss .vid1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
  border-radius: 16px;
}
.videoss .vid1 img {
  opacity: 1;
  z-index: 2;
}
.videoss .vid1 video {
  opacity: 0;
  z-index: 1;
}
.videoss .vid1:hover video {
  opacity: 1;
}
.videoss .vid1:hover img {
  opacity: 0;
}

.vid1-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #3c3c3c;
  padding: 0 4px;
  margin-top: 10px;
}
.vid1-left-info {
  display: flex;
  align-items: center;
  gap: 6px;
}
.vid1-left-info img {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  object-fit: cover;
}
.vid1-left-info p {
  font-weight: 600;
  font-size: 13px;
}
.vid1-team-badge {
  background-color: #e9e9eb;
  color: #555;
  font-size: 10px;
  font-weight: 700;
  border-radius: 4px;
  padding: 2px 5px;
}
.vid1-right-info {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #8d8d8d;
}
.vid1-right-info i {
  font-size: 14px;
  color: #9b9b9b;
}

.videoss .vid2 {
  position: relative;
  width: 335px;
  height: 251px;
  overflow: hidden;
  border-radius: 16px;
}
.videoss .vid2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
  border-radius: 16px;
}
.vid2-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #3c3c3c;
  margin-top: 10px;
  padding: 0 4px;
}
.vid2-left-info {
  display: flex;
  align-items: center;
  gap: 6px;
}
.vid2-left-info img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.vid2-left-info p {
  font-weight: 600;
  font-size: 13px;
}
.vid2-team-badge {
  background-color: #e9e9eb;
  color: #555;
  font-size: 10px;
  font-weight: 700;
  border-radius: 4px;
  padding: 2px 5px;
}
.vid2-right-info {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #8d8d8d;
}
.vid2-right-info i {
  font-size: 14px;
  color: #9b9b9b;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  transition: all 0.3s ease;
  z-index: 3;
  border-radius: 0 0 19px 19px;
}
.vid1:hover .bottom {
  bottom: 0;
}
.vid2:hover .bottom {
  bottom: 0;
}
.bottom p {
  color: white;
}
.bottom p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 67%;
  font-weight: 500;
}
.bottom-icon {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bottom h4 {
  background-color: white;
  border-radius: 50%;
  padding: 12px 14px;
  padding: 12px;
  gap: 12px;
  display: flex;
}

.continue {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.continue button {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-weight: 600;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
}

.foot-logo h2 {
  font-family: "Pacifico", cursive;
  transform: rotate(-5deg);
  font-weight: 200;
  font-size: 28px;
  cursor: pointer;
}

.content{
  display: flex;
  gap: 30px;
  font-size: 14px;
  font-weight: 600;
}

.ads i{  background-color: transparent;
  color: black;
  font-size: 20px;
  padding: 4px 8px;
  border-radius: 50%;
}

.footer-end{
  display: flex;
  justify-content: space-between;
}

.end-left{
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 300;
  padding: 30px;
}

.end-right{
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 300;
  padding: 30px;
}