@font-face {
    font-family: "MyFont";
    src: url("./sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "MyFont",sans-serif;
}
html,body{
    background-color:  #1D1D1F;
}
.div1{
    height: 100%;
    width: 100%;
}
.navtab{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    color: white;
    background-color: rgb(48, 46, 46);
    font-weight: 100;
}
a{
    color: white;
    text-decoration: none;
}
video{
    height: 100%;
    width: 100%;
    margin: auto;
}
.price{
    position: absolute;
    color: white;
    left: 36%;
    bottom: 7%;
    font-size: 17px;
    font-weight: 500;
}
.buy{
    position: absolute;
    left: 47%;
    bottom: 12%;
    color: white;
}
button{
    background-color:#0376DF;
    height: 38px;
    width: 61px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    border: none;
    font-weight: 600;
}
.text{
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 700px;
    align-items: end;
}
#head1{
    font-size: 48px;
}
#a1{
    text-decoration: none;
    font-size: 17px;
    color: #2997ff;
}
.div3{
    padding-top: 20PX;
    height: 70%;
    width: 70%;
    margin: auto;
}
.head2{
    color: white;
    font-size: 24px;
    margin-top: 90px;
    position: absolute;
    left: 32%;
}
.head3{
    color: white;
    font-size: 24px;
    margin-top: 118px;
    position: absolute;
    left: 40%;
}
#head4{
    color: #ff791b;
    font-size: 21px;
    display: flex;
    justify-content: center;
}
#head5{
    color: white;
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
}
#head7{
   width: 100%;
   font-size: 19px;
     color: #86868b;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 600;
    margin-top: 16px;
}
#head8{
    width: 650px;
}
.head10{
    width: 70%;
    margin: auto;
    padding-top: 20px;
}
