* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right,black, #434343, black);
  font-family: "Poppins", sans-serif;
}
#main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  overflow: scroll;
}
.card {
  height: 350px;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card img {
  height: 100%;
  width: 100%;
  transition: transform 0.4s ease;
  object-fit: cover;
}
.bottom {
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -40%;
  background: linear-gradient(transparent, black);
  transition: all 0.3s ease;
}
.card:hover .bottom {
  bottom: 0;
}

.card:hover img {
  transform: scale(1.1);
}

h3 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 300;
  color: white;
  padding: 10px;
}
h4 {
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
  margin: 15px;
  background-color: white;
  border-radius: 50%;
}
