body {
  font-family: Arial, sans-serif;
  background: #222;
  color: #eee;
  text-align: center;
  margin: 0;
  padding: 30px 10px;
}

h1 {
  font-weight: 600;
  margin-bottom: 200px;
  user-select: none;
}

.piano {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 230px;
  margin: 0 auto;
  user-select: none;
}

.key {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.key.white {
  flex: 1;
  height: 230px;
  background: white;
  border: 1px solid #999;
  color: black;
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

.key.black {
  position: absolute;
  width: 40px;
  height: 140px;
  background: black;
  color: white;
  border-radius: 4px;
  border: 1px solid #444;
  z-index: 2;
  top: 0;
  cursor: pointer;
}

.key.black.black-w { left: 45px; }
.key.black.black-e { left: 105px; }
.key.black.black-t { left: 225px; }
.key.black.black-y { left: 285px; }
.key.black.black-u { left: 345px; }
.key.black.black-o { left: 465px; }
.key.black.black-p { left: 525px; }

.key.white.active {
  background-color: #eee;
  transform: translateY(3px);
}

.key.black.active {
  background-color: #444;
  transform: translateY(3px);
}
