@font-face {
  font-family: "Helvetica";
  src: url(HelveticaNowDisplay-Thin.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  position: relative;
}
.navleft,
.navright {
  display: flex;
  gap: 20px;
}
.navcenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.navcenter h2 {
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
#nav a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}
#main h1 {
  font-size: 300px;
  padding-left: 50px;
}
#bottomleft {
  position: absolute;
  bottom: 10%;
  left: 3%;
  width: 300px;
}
#bottomleft h3 {
  font-size: 20px;
  margin-top: 2px;
  font-weight: 700;
}
#bottomleft p {
  font-weight: 600;
}
#bottomleft h4 {
  margin-top: 20px;
  font-size: 20px;
}
#bottombar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#bottombar h3 {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
#bottombar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
#main > img {
  position: absolute;
}
#img1 {
  height: 260px;
  top: 50%;
  left: 68%;
  z-index: 100;
}
#img2 {
  height: 200px;
  top: 67%;
  left: 60%;
  z-index: 90;
}
#img3 {
  height: 230px;
  top: 55%;
  left: 50%;
}

#img1:hover {
  z-index: 200;

  transform: scale(1.2);
  transition: all 0.3s linear;
}
#img2:hover {
  z-index: 200;
  transform: scale(1.3);
  transition: all 0.3s linear;
}
#img3:hover {
  z-index: 200;
  transform: scale(1.3);
  transition: all 0.3s linear;
}